[{:itonami.blueprint/social-impact [:mine-safety :worker-safety :public-safety], :itonami.blueprint/domain :mining-quarrying/mine-quarry-site-scheduling-coordination, :itonami.blueprint/required-technologies [:robotics :identity :audit-ledger], :itonami.blueprint/isco-08 "8111", :itonami.blueprint/name "Mine/Quarry-Site Scheduling & Logistics Coordination Service", :itonami.blueprint/governor :mine-coord-governor, :itonami.blueprint/robotics true, :db/id -1, :itonami.blueprint/status :public-oss, :itonami.blueprint/id "cloud-itonami-isco-8111", :itonami.blueprint/license "AGPL-3.0-or-later"}]
